---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    
    <!-- ClustrMaps Script -->
    <script type="text/javascript" style="width:300px; height:150px;" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=3fWXdMusx4Nz0OTkYjKJwFaq_hZlpZ2_HGArU8dXB4U&cl=ffffff&w=a"></script>

    {% include scripts.html %}

  </body>
</html>
